In [ ]:
## Dictionary of common words in the English language

In [6]:
students = {"the": 1, "be": 2, "to": 3, "of": 4, "and": 5, "a": 6, "in": 7, "that": 8, "have": 9, "it": 10,}
students['be']

2

In [14]:
x={1,2,3,4,5}
y={2,3,4,5,6}
# Intersection of two sets
x.intersection(y)

{2, 3, 4, 5}

In [15]:
x={1,2,3,4,5}
y={2,3,4,5,6}
# Intersection of two sets
x.union(y)

{1, 2, 3, 4, 5, 6}

In [16]:
x={1,2,3,4,5}
y={2,3,4,5,6}

In [17]:
x,y

({1, 2, 3, 4, 5}, {2, 3, 4, 5, 6})

In [20]:
y.difference_update(x)
x,y

({1, 2, 3, 4, 5}, {6})

In [21]:
x.difference_update(x)
x,y

(set(), {6})

In [24]:
x={1,2,3,4,5,6}
y={3,4,5,6}
x.symmetric_difference(y)

{1, 2}

In [27]:
x={1,2,3,4,5,6}
y={3,4,5,6,7}
x.issuperset(y)

False

In [28]:
x={1,2,3,4,5,6}
y={3,4,5,6}
x.issuperset(y)

True

In [ ]:
## Dictionary
d={"name": "John", "age": 30, "city": "New York"}
# type(d)
# d["age"]
# d["city"]

dict

In [ ]:
# print(d.get("city"))
# print(d.keys())
# print(d.values())
# print(d.items())
# print(d.update({"country": "USA"}))
# print(d)

New York
dict_keys(['name', 'age', 'city', 'country'])
dict_values(['John', 30, 'New York', 'USA'])
dict_items([('name', 'John'), ('age', 30), ('city', 'New York'), ('country', 'USA')])
None
{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA'}

In [30]:
for i in {"name": "John", "age": 30, "city": "New York"}:
    print(i)

name
age
city

In [27]:
for i,j in {"name": "John", "age": 30, "city": "New York"}.items():
    print(i,j)

name John
age 30
city New York

In [28]:
print(d)

{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA'}