In [1]:
# Question 1: Create a list of first 10 square numbers
squares = [i**2 for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Sum of even numbers:", sum(i for i in range(1, 11) if i % 2 == 0))

Sum of even numbers: 30

In [ ]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print("List without duplicates:", list(set([1, 2, 2, 3, 4, 4, 5, 6, 6, 7])))

List without duplicates: [1, 2, 3, 4, 5, 6, 7]

In [10]:

# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
print("Sorted list in descending order:", sorted([64, 34, 25, 12, 22, 11, 90], reverse=True))

Sorted list in descending order: [90, 64, 34, 25, 22, 12, 11]

In [5]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
print("Average of numbers:", sum([15, 23, 31, 42, 56, 78, 91]) / len([15, 23, 31, 42, 56, 78, 91]))

Average of numbers: 48.0

In [6]:
# Question 6: Create a list of first 15 Fibonacci numbers
fibonacci = [0, 1]
for i in range(2, 15):
    fibonacci.append(fibonacci[i-1] + fibonacci[i-2])
print("First 15 Fibonacci numbers:", fibonacci)

First 15 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [7]:

# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
print("Second largest number:", sorted(set([45, 67, 23, 89, 12, 34, 78]), reverse=True)[1])

Second largest number: 78

In [12]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x.reverse()
print("Reversed list:", x)

Reversed list: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
x = [1, 5, 2, 5, 3, 5, 4, 5, 6]
print("Count of 5:", x.count(5))

Count of 5: 4

In [14]:
# Question 10: Create a list of prime numbers between 1 and 50
print("List of prime numbers between 1 and 50:", [num for num in range(2, 51) if all(num % i != 0 for i in range(2, int(num**0.5) + 1))])

List of prime numbers between 1 and 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [15]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
print("Common elements:", [value for value in list1 if value in list2])

Common elements: [4, 5]

In [41]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [48]:
x=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
y=[sum(sublist)for sublist in x]
print(y)

[6, 15, 24]

In [49]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [50]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

In [52]:
x= [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
y=[max(sublist)for sublist in x]
print(y)

[5, 9, 8]

In [53]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")

Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [55]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [57]:
x=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
y=[num for sublist in x for num in sublist if num % 2==0]
print(y)

[2, 4, 6, 8]

In [58]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
print("\nQuestion 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")

Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]

In [61]:
x= [1, 'hello', 3.14, True, [1, 2, 3]]
y=type(x[0]),type(x[1]),type(x[2]),type(x[3]),type(x[4])
print(y)

(<class 'int'>, <class 'str'>, <class 'float'>, <class 'bool'>, <class 'list'>)

In [62]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']

In [64]:
x=['apple', 'banana', 'cherry', 'date']
len(x[0]),len(x[1]),len(x[2]),len(x[3]),

(5, 6, 6, 4)

In [65]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

In [66]:
x=[(1, 'a'), (2, 'b'), (3, 'c')]
y=type(x[0]),type(x[1]),type(x[2])
print(y)

(<class 'tuple'>, <class 'tuple'>, <class 'tuple'>)

In [67]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]

In [73]:
x=[(1, 'a'), (2, 'b'), (3, 'c')]
y=[item[0]for item in x]
print(y)

[1, 2, 3]

In [74]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print("\nQuestion 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [75]:
x= [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [76]:
# Question 25: Extract all 'name' values from list of dictionaries
print("\nQuestion 25: Extract all 'name' values from list of dictionaries")

Question 25: Extract all 'name' values from list of dictionaries

In [82]:
x= [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
y=[d['name']for d in x]
print(y)

['Alice', 'Bob']

In [86]:
x= [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
y=set().union(*x)
print(y)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
# Question 35: Create a list of functions: [len, str, int, float]
print("Created list of functions:", [len, str, int, float])

Created list of functions: [<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]