In [1]:
# Question 1: Create a tuple of first 10 natural numbers
# Answer 1
natural_numbers = tuple(range(1, 11))
print("Tuple of first 10 natural numbers:", natural_numbers)

Tuple of first 10 natural numbers: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
# Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
length_of_tuple = len(natural_numbers)
print("Length of the tuple:", length_of_tuple)

Length of the tuple: 10

In [3]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
len(a)

10

In [6]:
# Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
tuple_example = ('a', 'b', 'c', 'd', 'e')
tuple_element = tuple_example[3]
print("3rd element from the tuple:", tuple_element)

3rd element from the tuple: d

In [8]:
# Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
tuple_values = (23, 45, 12, 67, 34, 89, 56)
min_value = min(tuple_values)
print("Min value in the tuple:", min_value)

Min value in the tuple: 12

In [9]:
# Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
tuple_values = (23, 45, 12, 67, 34, 89, 56)
max_value = max(tuple_values)
print("Max value in the tuple:", max_value)

Max value in the tuple: 89

In [10]:
# Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
a = (1, 5, 2, 5, 3, 5, 4, 5, 6)
count_of_five = a.count(5)
print("Count of 5 in the tuple:", count_of_five)

Count of 5 in the tuple: 4

In [13]:
# Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
a = ('java', 'python', 'c++', 'javascript')
a.index('python')
print("Index of 'python' in the tuple:", a.index('python'))

Index of 'python' in the tuple: 1

In [14]:
#  Check if 25 exists in tuple (10, 20, 30, 40, 50)
a = (10, 20, 30, 40, 50)
exists = 25 in a
print("Does 25 exist in the tuple?", exists)

Does 25 exist in the tuple? False

In [16]:
# Create a tuple of first 5 even numbers
even_numbers = tuple(range(2, 12, 2))
print("Tuple of first 5 even numbers:", even_numbers)

Tuple of first 5 even numbers: (2, 4, 6, 8, 10)

In [17]:
#  Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
a = (15, 23, 31, 42, 56, 78)
average = sum(a) / len(a)
print("Average of the numbers in the tuple:", average)

Average of the numbers in the tuple: 40.833333333333336